<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listings</title>
  <style>
    /* .img-box{
      border: 2px dotted gray;;
    }
    .img-box img{
      height: 200px;
    } */
  </style>
</head>
<body>
  <h4>All Listings</h4>
  <h4><a href="/listings/new">Add new listing</a></h4>
  <ul>
  <% for (let listing of listings) {%>
    <li><a href="/listings/<%= listing._id %>"><%= listing.title %></a></li>
    <%}%>
  </ul>
</body>
</html>