<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create new listing</title>
</head>

<body>
  <h2>Create new listing</h2>
  <form action="/listings" method="post">

    <input type="text" name="listing[title]" required placeholder="Title"><br><br>
    <textarea name="listing[description]" required placeholder="Description"></textarea><br><br>
    <input type="text" name="listing[image]" placeholder="image url"><br><br>
    <input type="number" name="listing[price]" required placeholder="price"><br><br>
    <input type="text" name="listing[location]" required placeholder="location"><br><br>
    <input type="text" name="listing[country]" required placeholder="country"><br><br>
    
    <input type="submit" value="submit">
  </form>
</body>

</html>